/*
Colour Palette: 
dark purple: 	#261C2C
light purple: 	#bca7c2
creme: 			#F0ECE3

*/

body{
  background-color: #FAFAFF;
  color: black;
  font-family: 'Roboto', sans-serif; 
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0vw;
}

hr{
  border-top: 2px solid black;
}

a{
  color: #F0ECE3;
  transition: all 0.3s ease 0s;
  text-decoration:none;
}

a:hover{
  color: #FECB34;
}

/* CSS for header of page */
.header{
  color: white;
  padding: 0vw 7vw;
  display: flex;	
  height: 4em;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 30px;
  font-weight: 900;
  background-color: #803D5F;
}

.dropdown {
  float: left;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  padding-right: 0.5em;
}

.dropdown:hover{
  color: #FECB34;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #F0ECE3;
  min-width: 160px;
  transition: visibility 0.65s ease-in;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left: 0vw;
  transform: translate(-20px);
  color: #052C39;
  font-weight: 500;
}

.dropdown-content a {
  float: none;
  color: #052C39;
  visibility: hidden;
  color: black;
  padding: 12px 16px;
  transition: visibility 0.65s ease-in;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #FECB34;
}

.dropdown:hover .dropdown-content{
	visibility: visible;
}
.dropdown:hover .dropdown-content a{
	visibility: visible;
}

.dropdown ul{
	list-style-type: none;
}
.dropdown-content li{
	list-style-type: none;
}

nav{
	align-self: flex-end;}

li{
	list-style-type: none;
}

ul{
	margin: 0.5em;
}



/* CSS for resume page */

